@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
    
  }
  /* navber styles */
  #bars{
    font-size: 1.87rem;
  }
  a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 2rem;
    align-items: center;
  }
  .display-flex{
    display: flex;
    align-items: center;
  }
  
  .navber{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 140px;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
  width: 62px;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 16px 32px;
  }
  nav ul li a{
    text-decoration: none;

  }
  
  .brand{
    color: black;
    font-weight: 700;
    font-size: 2rem;
  }
  .btn-primary{
    color: #FFFFFF;
    background-color: #FEA301;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 10px 60px;
    border-radius: 12px;
    border-style: none;
  }
  .nav-item1{
    font-weight: 700;
    font-size: 1.25rem;
    color: #FEA301;
  }
  .nav-item2{
    font-weight: 500;
    font-size: 1.5rem;
    color: #01ACFD;
  }
  .nav-item3{
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(5, 212, 223, 1);
  }
  .nav-item4{
    font-weight: 500;
    font-size: 1.5rem;
    color: #5D58EF;
  }
 /* banner styles */
 .bannar{
  display: flex;
  margin: 20px 141px 60px;
}
.bannar-contant{
align-items: center;
margin-top: 120px;
}
.bannar-img{
 max-width: 468px;
 height: 575px;
 margin-left: 50px;
}
.bannar-title{
 font-weight: 700;
 font-size: 3.5rem;
 padding-bottom: 24px;
}
#orange{
  color: #FEA301;
}
#skyblue{
  color: #01ACFD;
}
.bannar-description{
font-weight: 400;
font-size: 1.25rem;
padding-bottom: 24px;
}
.btn{
font-weight: 700;
font-size: 1.25rem;
background-color: black;
border-radius: 12px;
padding: 10px 47px;
color: #FFFFFF;
}
/* curriculum */
.curriculum{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
   max-width: 1440px;
  height: 879px;
}
.curriculum-header{
  font-weight: 700;
  font-size: 2.875rem;
  text-align: center;
  padding-top: 60px;
}
.curriculum{
  text-align: center;
  justify-content: center;
  justify-items: center;
  margin: 0px auto;
}
.curriculum-boxs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 80px 140px;
  text-align: center;
  
  justify-items: center;
}
.img{
  padding-top: 52px;
}
.curriculum-box1{
  background-image: linear-gradient(180deg, #DEF5FF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF);
  border-radius: 18px;
  max-width: 367px;
  height: 476px;
  margin-right: 28px;
  box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.curriculum-box2{
  background-image: linear-gradient(180deg,#FFF4DC,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF);
  border-radius: 18px;
  max-width: 367px;
  height: 481px;
  margin-right: 28px;
  box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);
}
.curriculum-box3{
  background-image: linear-gradient(180deg,#F2E8FF,#FFFFFF,#FFFFFF,#FFFFFF,#FFFFFF);
  border-radius: 18px;
  max-width: 367px;
  height: 481px;
  box-shadow: 0px 0px 28.3px rgba(0, 0, 0, 0.05);

}
.curriculum-title{
  font-weight: 700;
  font-size: 1.53rem;
  padding-bottom: 33px;
}
.curriculum-description{
  font-weight: 500;
  font-size: 0.94rem;
  color: #808080;
  padding-bottom: 33px;
}
/* button */
.buy-btn1{
   font-weight: 700;
   font-size: 0.95rem;
   color: #64C8FF;
   border-style: none;
   background-color: white;
}
.buy-btn2{
  font-weight: 700;
  font-size: 0.95rem;
  color: #F0AA00;
  border-style: none;
  background-color: white;
}
.buy-btn3{
  font-weight: 700;
  font-size: 0.95rem;
  color: #8700FF;
  border-style: none;
  background-color: white;
}
.angle{
 text-align: center;
 margin-bottom: 60px;
}
.angle-btn{
  background-color: #FEA301;
  border-style: none;
  width: 60px;
  height: 60px;
  border-radius: 30px;

}
  /* stories styles */
  .gradean{
    background-image: linear-gradient(white,rgba(254, 163, 1, 0.3));
  }
  .story-title{
    font-weight: 700;
    font-size: 2.87rem;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 80px;}
 /* box styles */
 .story-big-box{
  max-width: 540px;
  height: 615px;
  background-color: white;
  border-radius: 16px;
  margin-right: 19px;

 }
 .big-story-img{
  max-width: 540px;
  height: 337px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
 }
 .big-btn{
  background-color: #3CD8E8;
  padding: 14px 19px;
  font-weight: 500;
  font-size: 0.95rem;
  color: white;
  border-style: none;
  border-radius: 47px;
  margin-top: -24px;
  margin-left: 38px;
  margin-bottom: 33px;
 }
 .big-story-title{
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 51px;
  margin-left: 38px;
 }
 .big-description{
  font-weight: 500;
  font-size: 0.95rem;
  color: #666666;
  margin-left: 38px;
 }
 /* box */
 .story-box1{
  max-width: 290px;
  height: 301px;
  background-color: white;
  border-radius: 16px;

 }
 .box-img{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
 }
 .primary-btn{
  font-weight: 500;
  font-size: 1.25rem;
  padding: 10px 19px;
  border-radius: 47px;
  color: white;
  background-color: #95B226;
  margin-top: -19px;
  margin-left: 38px;
  border-style: none;
 }
 .primary-btno{
  font-weight: 500;
  font-size: 1.25rem;
  padding: 10px 19px;
  border-radius: 47px;
  color: white;
  background-color: #5D58F0;
  margin-top: -19px;
  margin-left: 38px;
  border-style: none;
 }
 .box-title{
  font-weight: 700;
  font-size: 0.95rem;
  margin-top: 23px;
  margin-bottom: 33px;
 }
 .story-boxed{
  display: flex;
  max-width: 1160px;
  height: 630px;
  margin-top: 80px;
 }
 .story-box{
  display: grid;
  grid-template-columns: repeat(2,1fr);
 }
 .story-box1{
 margin-right: 19px;
 }
 .end-btn{
  background-color: black;
  padding: 10px 61px;
  color: white;
  border-style: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 25px;
  
 }
